aioredis==2.0.1
alembic==1.7.7
amqp==5.2.0
anyio==3.6.2
asgiref==3.4.1
async-timeout==4.0.2
billiard==3.6.4.0
cached-property==1.5.2
celery==5.1.2
click==7.1.2
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
fastapi==0.83.0
greenlet==2.0.2
h11==0.13.0
httptools==0.3.0
idna==3.8
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
kombu==5.1.0
Mako==1.1.6
MarkupSafe==2.0.1
packaging==21.3
Pillow==8.4.0
prompt-toolkit==3.0.36
pydantic==1.9.2
PyMySQL==1.0.2
pyparsing==3.1.4
python-dotenv==0.20.0
pytz==2024.1
PyYAML==6.0.1
redis==4.3.6
sniffio==1.2.0
SQLAlchemy==1.4.54
starlette==0.19.1
typing_extensions==4.1.1
uvicorn==0.16.0
uvloop==0.14.0
vine==5.1.0
watchgod==0.7
wcwidth==0.2.13
websockets==9.1
zipp==3.6.0
